body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
}

.description,
.ingredients,
.steps {
    margin: 10px 40px;
}


h1 {
    text-align: center;
    width: 60%;
    margin: 0 auto 10px;
    padding: 12px;
    font-weight: 850px;
    font-size: 42px;
    background-color: #d08a50;
    color: #ffff;
}

img {
    display: block;
    margin: 0 auto;
}

hr {
    margin: 0px;
}

.heading {
    font-weight: bold;
    margin-top: 12px;
    padding: 12px;
    background-color: #ffc799;

}



.description-paragraph,
.recipe-steps,
.ingredients-list {
    box-sizing: border-box;
    margin-top: 4px;
    font-weight: 300;
    font-size: 16px;
    border-style: none;
    border-width: 2px;
    border-radius: 4px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding: 40px;
    background-color: #c8fbff;
}

.web-title {
    width: auto;
    padding: 20px;

}



.recipe-link {
    display: block;
    text-align: center;
    display: block;
    text-align: center;
    margin-bottom: 12px;
    margin-right: 36px;
    padding: 18px;
    background-color: blanchedalmond;
    color: black;
}






